@font-face {
    font-family: 'Kaushan';
    src: url('kaushan-script/KaushanScript-Regular.otf') format('opentype');
}

.select-container {
    margin-top: -13px;
}

.heading {
    text-align: center;
    background-color: rgb(129, 171, 229);
    font-family: "Heiti SC", serif;
    font-size: 13px;
    margin-top: -18px;
    font-weight: 1100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2); /* Add border line */
    height: 50px; /* Set the height */
}

/* Choropleth Heading */
.maps-container {
    display: flex;
}

/* Map Container */
.map-container {
    border: 1px dashed #231b1b;
    padding: 20px;
    margin: 20px auto;
    margin-left: 0px;
    margin-top: 7px;
    max-width: 350px;
    height: 355px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f3ecec;
}

.h1 {
    color: #790a31;
    font-family: "Heiti SC", monospace;
    text-align: center;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
}

/* Label: Year */
.cmYear {
    color: #93351a;
    font-family: "Heiti SC", monospace;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
}

/* Label: Attribute */
.cmAttribute {
    margin-left: 14px;
    color: #93351a;
    font-family: "Heiti SC", monospace;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
}

/* Select Bar: Year */
#cmYearSelect {
    margin-top: 20px;
    margin-left: 10px;
    font-family: "Heiti SC", sans-serif; /* Set font-family to Heiti SC */
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8e8b3;
    cursor: pointer;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* Add transition for background-color */
}

#cmYearSelect::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#cmYearSelect option {
    background-color: #fff;
    color: #333;
}

#cmYearSelect option:hover {
    background-color: #f2f2f2;
}

#cmYearSelect:hover {
    background-color: #f9f9f9;
}

#cmYearSelect:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0.5);
}

/* Select Bar: Attribute */
#cmAttributeSelect {
    margin-left: 10px;
    font-family: "Heiti SC", sans-serif;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8e8b3;
    cursor: pointer;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* Add transition for background-color */
}

#cmAttributeSelect::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#cmAttributeSelect option {
    background-color: #fff;
    color: #333;
}

#cmAttributeSelect option:hover {
    background-color: #f2f2f2;
}

#cmAttributeSelect:hover {
    background-color: #f9f9f9;
}

#cmAttributeSelect:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0.5);
}
#y-variable-select {
    margin-left: 10px;
    font-family: "Heiti SC", sans-serif;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8e8b3;
    cursor: pointer;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* Add transition for background-color */
}

#y-variable-select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#y-variable-select option {
    background-color: #fff;
    color: #333;
}

#y-variable-select option:hover {
    background-color: #f2f2f2;
}

#y-variable-select:hover {
    background-color: #f9f9f9;
}

#y-variable-select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0.5);
}

/* Choropleth Map */
#chloroplethMap {
    margin-top: -25px;
    margin-left: 15px;
    width: 100%;
    height: 300px;
}

/* ChoroPleth - Subunits */
.subunit {
    fill: steelblue;
    stroke: white;
    stroke-width: 1px;
}

.subunit:hover {
    opacity: 0.7;
    fill: lightyellow;
}

.exterior-boundary {
    fill: none;
    stroke: black;
    stroke-linejoin: round;
    stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 2px;
    font: 12px "Heiti SC";
    color: white;
    background: black;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

/* Legend */
.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.legend-item {
  width: 55px;
  height: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25px;
  border: 1px solid #110d0d;
}

.legend-label {
  font-family: "Heiti SC", sans-serif;
  margin-top: 12px;
  font-size: 9px;
  color: #555555 ;
  text-align: center;
  font-weight: bolder;
}

/*********************************************************************************************************************************************************/
/* HeatMap */

.h2 {
    color: #790a31;
    font-family: "Heiti SC", monospace;
    text-align: center;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: -10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
}

/* heatmap container */
.heatmap-container {
    border: 1px dashed #231b1b;
    padding: 20px;
    margin: 20px auto;
    margin-left: -100px;
    margin-right: 640px;
    margin-top: 7px;
    max-width: 350px;
    height: 355px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f3ecec;
}

#heatMap {
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100%;
    height: 550px;
}

/* Legend */
.legendhm {
  display: flex;
  justify-content: center;
  margin-top: -255px;
  margin-bottom: 30px;
}

.legend-itemhm {
  width: 20px;
  height: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25px;
  border: 1px solid #110d0d;
}

.legend-labelhm {
  font-family: "Heiti SC", sans-serif;
  margin-top: 12px;
  font-size: 9px;
  color: #555555 ;
  text-align: center;
  font-weight: bolder;
}

/*********************************************************************************************************************************************************/
/* Scatter Plot Matrix */

.h3 {
    color: #790a31;
    font-family: "Heiti SC", monospace;
    text-align: center;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
}

.scatter-plot-container{
    border: 1px dashed #231b1b;
    padding: 20px;
    margin: 20px auto;
    margin-left: 20px;
    margin-top: -460px;
    max-width: 650px;
    max-height: 355px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f3ecec;
}
#scatter-plot-matrix{
    margin-left: -30px;
    margin-top: -150px;
    width: 100%;
    height: 639px;
}



/*********************************************************************************************************************************************************/
/* Time Series Chart */

.tcHeading  {
    color: #790a31;
    font-family: "Heiti SC", monospace;
    text-align: center;
    margin-top: -10px;
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 300;
}

.timeSeriesChart {
    border: 1px dashed #231b1b;
    padding: 20px;
    margin: 20px auto;
    margin-top: -14px;
    margin-left: 0px;
    max-width: 750px;
    height: 280px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f3ecec;
}

.tcdropDown {
    margin-left: 15px;
    color: #93351a;
    font-family: "Heiti SC", monospace;
    font-size: 13px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
}

#tsChart {
    margin-left: -30px;
    margin-top: -50px;
    width: 120%;
    height: 500px;
}

/* Select Bar: County */
#tcCountySelect {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Heiti SC", sans-serif;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8e8b3;
    cursor: pointer;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#tcCountySelect::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#tcCountySelect option {
    background-color: #fff;
    color: #333;
}

#tcCountySelect option:hover {
    background-color: #f2f2f2;
}

#tcCountySelect:hover {
    background-color: #f9f9f9;
}

#tcCountySelect:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0.5);
}

/*********************************************************************************************************************************************************/

.h4 {
    color: #27590c;
    font-family: "Heiti SC", monospace;
    text-align: center;
    font-size: 14px;
}

.h6 {
    margin-top: 5px;
    margin-left: 0px;
    color: #93351a;
    font-family: "Heiti SC", monospace;
    text-align: center;
    font-size: 16px;
}

.h7 {
    margin-top: 5px;
    margin-left: 100px;
    color: #93351a;
    font-family: "Heiti SC", monospace;
    text-align: center;
    font-size: 16px;
}

.chart-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    margin-left: 0px;
    max-width: 800px;
    height: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: center;
}


.age-container {
    margin-top: 0px;
    margin-left: 550px;
    align-self: flex-end;
}

.age-container p {
    margin-bottom: 10px;
}

.age-container input[type="radio"] {
    display: none;
}

.age-container input[type="radio"] + label {
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #b6f1c0;
    border-radius: 5px;
    cursor: pointer;
}

.age-container input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}
