<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California TopoJSON with D3</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="heading">
        <h1>VIS Dashboard - Unemployment Trends in California</h1>
    </header>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script>
        var selectedYear = 2008;
        var selectedAttribute = "Employment";
        var selectedCounty = "Alameda County";
        var lcData = {{ ldData | tojson }};
        var jsonData = {{ jsonData | tojson }};
        var uRateMap = {{ uRateMap | tojson }};
        var lMap = {{ lMap | tojson }};
        var epMap = {{ epMap | tojson }};
        var texpMap = {{ texpMap | tojson }};
        var estMap = {{ estMap | tojson }};
        var excapMap = {{ excapMap | tojson }};
        var twMap = {{ twMap | tojson }};
        var ameMap = {{ ameMap | tojson }};
        var eMap = {{ eMap | tojson }};
        var avgMap= {{ avgMap | tojson }};
        var dropDownData = {{ dropDownData | tojson }};
        var uEMap = {{ uEMap | tojson }};
        var data = {{ data | safe }};
        var attributesData = {{ attributesData | tojson }};
        var heatmapData = {{ heatMap | tojson }};
    </script>
    <script src="/static/chloropleth.js" defer></script>
    <script src="/static/timeSeriesChart.js"></script>
    <script src="/static/ScatterPlot.js"></script>
    <script src="/static/heatMap.js"></script>

    <div class="select-container">
        <label class="cmYear" for="cmYearSelect">Select Year:</label>
        <select id="cmYearSelect"></select>

        <label class="cmAttribute" for="attribute-select">Select Attribute:</label>
        <select id="cmAttributeSelect">
        <option value="Employment">Employment</option>
        <option value="Unemployment">Unemployment</option>
        <option value="Unemployment Rate">Unemployment Rate</option>
        <option value="Average Weekly Wages">Average Weekly Wages</option>
        <option value="Establishments">Establishments</option>
        <option value="Labor Force">Labor Force</option>
        <option value="Expenditures Per Capita">Expenditures Per Capita</option>
        <option value="Average Monthly Employment">Average Monthly Employment</option>
        <option value="Total Wages (All Workers)">Total Wages (All Workers)</option>
        <option value="Estimated Population">Estimated Population</option>
        <option value="Total Expenditures">Total Expenditures</option>
        </select>

        <label class="tcdropDown" for="tcCountySelect">Select County:</label>
        <select id="tcCountySelect">
            {% for value in dropDownData %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>

    <div class = "maps-container">

        <div class="map-container">
        <h1 class="h1">Choropleth Map (State of California)</h1>

        <div id="chloroplethMap"></div>
        <div class="legend">
          <div class="legend-item" style="background-color: LightPink;">
              <div class="legend-label" id = "ll1"></div>
          </div>
          <div class="legend-item" style="background-color: LightSalmon;">
              <div class="legend-label" id = "ll2"></div>
          </div>
          <div class="legend-item" style="background-color: LightCoral;">
              <div class="legend-label" id = "ll3"></div>
          </div>
          <div class="legend-item" style="background-color: IndianRed;">
              <div class="legend-label" id = "ll4"></div>
          </div>
          <div class="legend-item" style="background-color: Crimson;">
              <div class="legend-label" id = "ll5"></div>
          </div>
          <div class="legend-item" style="background-color: FireBrick;">
              <div class="legend-label" id = "ll6"></div>
          </div>
          <div class="legend-item" style="background-color: DarkRed;">
              <div class="legend-label" id = "ll7"></div>
          </div>
        </div>
    </div>

    <div class="heatmap-container">
        <h1 class="h1">Correlation Heat Map</h1>
        <div id="heatMap"></div>
        <div class="legend">
        <div class="legend-item" style="background-color: #8B0000;"><div class="legend-label">-1</div></div>
        <div class="legend-item" style="background-color: #B22222;"><div class="legend-label">-0.9</div></div>
        <div class="legend-item" style="background-color: #CD5C5C;"><div class="legend-label">-0.8</div></div>
        <div class="legend-item" style="background-color: #E9967A;"><div class="legend-label">-0.7</div></div>
        <div class="legend-item" style="background-color: #FA8072;"><div class="legend-label">-0.6</div></div>
        <div class="legend-item" style="background-color: #FFA07A;"><div class="legend-label">-0.5</div></div>
        <div class="legend-item" style="background-color: #FF6347;"><div class="legend-label">-0.4</div></div>
        <div class="legend-item" style="background-color: #FF4500;"><div class="legend-label">-0.3</div></div>
        <div class="legend-item" style="background-color: #FF0000;"><div class="legend-label">-0.2</div></div>
        <div class="legend-item" style="background-color: #CD5C5C;"><div class="legend-label">-0.1</div></div>
        <div class="legend-item" style="background-color: #FFFFFF;"><div class="legend-label">0</div></div>
        <div class="legend-item" style="background-color: #90EE90;"><div class="legend-label">0.1</div></div>
        <div class="legend-item" style="background-color: #7FFF00;"><div class="legend-label">0.2</div></div>
        <div class="legend-item" style="background-color: #ADFF2F;"><div class="legend-label">0.3</div></div>
        <div class="legend-item" style="background-color: #7CFC00;"><div class="legend-label">0.4</div></div>
        <div class="legend-item" style="background-color: #90EE90;"><div class="legend-label">0.5</div></div>
        <div class="legend-item" style="background-color: #98FB98;"><div class="legend-label">0.6</div></div>
        <div class="legend-item" style="background-color: #32CD32;"><div class="legend-label">0.7</div></div>
        <div class="legend-item" style="background-color: #228B22;"><div class="legend-label">0.8</div></div>
        <div class="legend-item" style="background-color: #006400;"><div class="legend-label">0.9</div></div>
        <div class="legend-item" style="background-color: #006400;"><div class="legend-label">1</div></div>
    </div>
    </div>
    </div>

    <div class="timeSeriesChart">
        <h1 class="tcHeading" id = "tcHeading">Time Series Chart</h1>
        <div id="tsChart"></div>
    </div>

    <div class="container">
        <div class="controls">
          <label for="x-variable">X Variable:</label>
          <select id="x-variable"></select>
          <label for="y-variable">Y Variable:</label>
          <select id="y-variable"></select>
        </div>
        <svg id="scatter-plot-matrix"></svg>
      </div>


    <script>
        drawHeatmap(selectedYear);
        drawTimeSeriesChart(selectedCounty,selectedAttribute);
    </script>

</body>
</html>
